<div id="<%= dom_id article %>">
  <p>
    <strong>Question:</strong>
    <%= article.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= article.answer %>
  </p>

  <p>
    <strong>Discarded at:</strong>
    <%= article.discarded_at %>
  </p>

</div>
